name: QA Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  qa-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: QA placeholder
        run: echo "QA check ejecutado correctamente"
